{
  "openapi": "3.0.1",
  "info": {
    "title": "Lagom Orders",
    "description": "Lagom Orders",
    "version": "v1",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.blocksniper.io/api/v1/orders"
    }
  ],
  "paths": {
    "/rqueue/api/v1/view-data": {
      "post": {
        "tags": ["rqueue-rest-controller"],
        "operationId": "viewData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DateViewRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DataViewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rqueue/api/v1/queue-data": {
      "post": {
        "tags": ["rqueue-rest-controller"],
        "operationId": "exploreQueue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueueExploreRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DataViewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rqueue/api/v1/pause-unpause-queue": {
      "post": {
        "tags": ["rqueue-rest-controller"],
        "operationId": "pauseUnpauseQueue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PauseUnpauseQueueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rqueue/api/v1/move-data": {
      "post": {
        "tags": ["rqueue-rest-controller"],
        "operationId": "dataType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageMoveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageMoveResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rqueue/api/v1/delete-queue": {
      "post": {
        "tags": ["rqueue-rest-controller"],
        "operationId": "deleteQueue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rqueue/api/v1/delete-queue-part": {
      "post": {
        "tags": ["rqueue-rest-controller"],
        "operationId": "deleteAll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rqueue/api/v1/delete-message": {
      "post": {
        "tags": ["rqueue-rest-controller"],
        "operationId": "deleteMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rqueue/api/v1/data-type": {
      "post": {
        "tags": ["rqueue-rest-controller"],
        "operationId": "dataType_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StringResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rqueue/api/v1/chart": {
      "post": {
        "tags": ["rqueue-rest-controller"],
        "operationId": "getDashboardData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChartDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChartDataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order": {
      "get": {
        "tags": ["order-controller"],
        "summary": "get order of user",
        "operationId": "getOrderOfUser",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ASK", "BID"]
            }
          },
          {
            "name": "pair",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseCurrency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quoteCurrency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["LIMIT", "MARKET", "STOP_LIMIT"]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "PARTIALLY_FILLED",
                "FILLED",
                "CANCELED",
                "REJECTED",
                "EXPIRED"
              ]
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "hideCanceled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["createdAt", "updatedAt"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseDtoOrderEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      },
      "post": {
        "tags": ["order-controller"],
        "operationId": "placeOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceOrderRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoOrderEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      },
      "delete": {
        "tags": ["order-controller"],
        "operationId": "cancelOrder",
        "parameters": [
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ASK", "BID"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoString"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/rqueue/api/v1/jobs": {
      "get": {
        "tags": ["rqueue-rest-controller"],
        "operationId": "getJobs",
        "parameters": [
          {
            "name": "message-id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DataViewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rqueue/api/v1/aggregate-data-selector": {
      "get": {
        "tags": ["rqueue-rest-controller"],
        "operationId": "aggregateDataCounter",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["DAILY", "WEEKLY", "MONTHLY"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DataSelectorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/order/id-gen": {
      "get": {
        "tags": ["public-order-controller"],
        "summary": "get order id lastest",
        "operationId": "getOrderIdLastest",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoLong"
                }
              }
            }
          }
        }
      }
    },
    "/order/{orderId}/trades": {
      "get": {
        "tags": ["order-controller"],
        "summary": "get trading history by order id",
        "operationId": "getTradingHistoryByOrderId",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoListTradeEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/order/open": {
      "get": {
        "tags": ["order-controller"],
        "summary": "get order open of user",
        "operationId": "getOrderOpenOfUser",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ASK", "BID"]
            }
          },
          {
            "name": "pair",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["LIMIT", "MARKET", "STOP_LIMIT"]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["NEW", "PENDING", "PARTIALLY_FILLED"]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["createdAt", "updatedAt"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseDtoOrderEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/order/open/balance": {
      "get": {
        "tags": ["order-controller"],
        "summary": "get balance in order of user",
        "operationId": "getBalanceInOrder",
        "parameters": [
          {
            "name": "networkId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "currencyId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoBalanceInOrderResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/order/export-to-excel": {
      "get": {
        "tags": ["order-controller"],
        "summary": "Export order of user",
        "operationId": "exportOrderOfUser",
        "parameters": [
          {
            "name": "orderIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ASK", "BID"]
            }
          },
          {
            "name": "pair",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["LIMIT", "MARKET", "STOP_LIMIT"]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "PARTIALLY_FILLED",
                "FILLED",
                "CANCELED",
                "REJECTED",
                "EXPIRED"
              ]
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["createdAt", "updatedAt"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/order/{orderId}": {
      "delete": {
        "tags": ["order-controller"],
        "operationId": "cancelOrder_1",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoOrderEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "DateViewRequest": {
        "required": ["name", "type"],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["NONE", "LIST", "ZSET", "KEY", "SET"]
          },
          "name": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Action": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["DELETE", "NONE"]
          },
          "description": {
            "type": "string"
          }
        }
      },
      "DataViewResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "headers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Action"
            }
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableRow"
            }
          }
        }
      },
      "RowColumnMeta": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["JOBS_BUTTON"]
          },
          "data": {
            "type": "object"
          }
        }
      },
      "TableColumn": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["DISPLAY", "ACTION"]
          },
          "value": {
            "type": "object"
          },
          "meta": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RowColumnMeta"
            }
          }
        }
      },
      "TableRow": {
        "type": "object",
        "properties": {
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableColumn"
            }
          },
          "meta": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RowColumnMeta"
            }
          }
        }
      },
      "QueueExploreRequest": {
        "required": ["name", "src", "type"],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["NONE", "LIST", "ZSET", "KEY", "SET"]
          },
          "name": {
            "type": "string"
          },
          "src": {
            "type": "string"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PauseUnpauseQueueRequest": {
        "required": ["name"],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "pause": {
            "type": "boolean"
          }
        }
      },
      "BaseResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "MessageMoveRequest": {
        "type": "object",
        "properties": {
          "src": {
            "type": "string"
          },
          "srcType": {
            "type": "string",
            "enum": ["NONE", "LIST", "ZSET", "KEY", "SET"]
          },
          "dst": {
            "type": "string"
          },
          "dstType": {
            "type": "string",
            "enum": ["NONE", "LIST", "ZSET", "KEY", "SET"]
          },
          "others": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "MessageMoveResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "value": {
            "type": "boolean"
          },
          "numberOfMessageTransferred": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "DataTypeRequest": {
        "required": ["name"],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "DataDeleteRequest": {
        "required": ["data_set", "queue"],
        "type": "object",
        "properties": {
          "queue": {
            "type": "string"
          },
          "data_set": {
            "type": "string"
          }
        }
      },
      "BooleanResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "value": {
            "type": "boolean"
          }
        }
      },
      "MessageDeleteRequest": {
        "required": ["message_id", "queue"],
        "type": "object",
        "properties": {
          "queue": {
            "type": "string"
          },
          "message_id": {
            "type": "string"
          }
        }
      },
      "StringResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "val": {
            "type": "string"
          }
        }
      },
      "ChartDataRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["LATENCY", "STATS"]
          },
          "queue": {
            "type": "string"
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "aggregationType": {
            "type": "string",
            "enum": ["DAILY", "WEEKLY", "MONTHLY"]
          },
          "dateTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "SUCCESSFUL",
                "DISCARDED",
                "MOVED_TO_DLQ",
                "RETRIED",
                "EXECUTION"
              ]
            }
          }
        }
      },
      "ChartDataResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          },
          "title": {
            "type": "string"
          },
          "hTitle": {
            "type": "string"
          },
          "vTitle": {
            "type": "string"
          }
        }
      },
      "PlaceOrderRequestDto": {
        "required": [
          "networkId",
          "pair",
          "price",
          "quantity",
          "side",
          "stopPrice",
          "type"
        ],
        "type": "object",
        "properties": {
          "networkId": {
            "type": "integer",
            "format": "int32"
          },
          "pair": {
            "type": "string"
          },
          "side": {
            "type": "string",
            "enum": ["ASK", "BID"]
          },
          "type": {
            "type": "string",
            "enum": ["LIMIT", "MARKET", "STOP_LIMIT"]
          },
          "quantity": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "stopPrice": {
            "type": "string"
          }
        }
      },
      "OrderEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "accountId": {
            "type": "string"
          },
          "networkId": {
            "type": "integer",
            "format": "int32"
          },
          "pairId": {
            "type": "integer",
            "format": "int32"
          },
          "side": {
            "type": "string"
          },
          "orderType": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "price": {
            "type": "number"
          },
          "stopPrice": {
            "type": "number"
          },
          "remaining": {
            "type": "number"
          },
          "executedPrice": {
            "type": "number"
          },
          "averagePrice": {
            "type": "number"
          },
          "balanceInOrder": {
            "type": "number"
          },
          "timeInForce": {
            "type": "string"
          },
          "trigger": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "orderExtraType": {
            "type": "string"
          },
          "isLocalFee": {
            "type": "boolean"
          },
          "takerFee": {
            "type": "number"
          },
          "makerFee": {
            "type": "number"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          },
          "updatedAt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ResponseDtoOrderEntity": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/OrderEntity"
          }
        }
      },
      "DataSelectorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PairStringString"
            }
          }
        }
      },
      "PairStringString": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string"
          },
          "second": {
            "type": "string"
          }
        }
      },
      "ResponseDtoLong": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "MetaDataResponseDto": {
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "hasNext": {
            "type": "boolean"
          },
          "hasPrevious": {
            "type": "boolean"
          }
        }
      },
      "PageResponseDtoOrderEntity": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderEntity"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/MetaDataResponseDto"
          }
        }
      },
      "ResponseDtoListTradeEntity": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TradeEntity"
            }
          }
        }
      },
      "TradeEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "buyOrderUid": {
            "type": "integer",
            "format": "int64"
          },
          "buyOrderId": {
            "type": "integer",
            "format": "int64"
          },
          "sellOrderUid": {
            "type": "integer",
            "format": "int64"
          },
          "sellOrderId": {
            "type": "integer",
            "format": "int64"
          },
          "pair": {
            "type": "string"
          },
          "pairId": {
            "type": "integer",
            "format": "int32"
          },
          "takerNetworkId": {
            "type": "integer",
            "format": "int32"
          },
          "makerNetworkId": {
            "type": "integer",
            "format": "int32"
          },
          "price": {
            "type": "number"
          },
          "quantity": {
            "type": "number"
          },
          "buyFee": {
            "type": "number"
          },
          "sellFee": {
            "type": "number"
          },
          "takerAction": {
            "type": "string"
          },
          "buyerIsTaker": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "takerFee": {
            "type": "number"
          },
          "makerFee": {
            "type": "number"
          }
        }
      },
      "BalanceInOrderResponseDto": {
        "type": "object",
        "properties": {
          "balanceInOrder": {
            "type": "number"
          }
        }
      },
      "ResponseDtoBalanceInOrderResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/BalanceInOrderResponseDto"
          }
        }
      },
      "ResponseDtoString": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer Authentication": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
