{
  "openapi": "3.0.1",
  "info": {
    "title": "Lagom Account",
    "description": "Lagom Account",
    "version": "v1",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.blocksniper.io/api/v1/accounts"
    }
  ],
  "paths": {
    "/withdrawals/request-withdraw": {
      "post": {
        "tags": ["withdrawal-controller"],
        "summary": "user request withdraw",
        "operationId": "requestWithdraw",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWithdrawRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoWithdrawalResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/account/adjust-balance": {
      "post": {
        "tags": ["account-controller"],
        "operationId": "adjustBalance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjustUserBalanceRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoString"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/account/add-balance": {
      "post": {
        "tags": ["account-controller"],
        "operationId": "addBalance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserBalanceRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoString"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/withdrawals": {
      "get": {
        "tags": ["withdrawal-controller"],
        "summary": "user get all withdrawals",
        "operationId": "filterWithdrawals",
        "parameters": [
          {
            "name": "networkId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "currencyId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "sortType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseDtoWithdrawalResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/withdrawals/{withdrawId}": {
      "get": {
        "tags": ["withdrawal-controller"],
        "summary": "user get withdrawal detail by id",
        "operationId": "getWithdrawalDetailById",
        "parameters": [
          {
            "name": "withdrawId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoWithdrawalResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/withdrawals/{withdrawId}/signature": {
      "get": {
        "tags": ["withdrawal-controller"],
        "summary": "user get withdraw signature",
        "operationId": "getWithdrawSignature",
        "parameters": [
          {
            "name": "withdrawId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoWithdrawalSignatureResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/user/wallet": {
      "get": {
        "tags": ["user-controller"],
        "summary": "get wallet information of user",
        "operationId": "getWalletRecord",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoListWalletResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/transactions": {
      "get": {
        "tags": ["transaction-history-controller"],
        "summary": "user get all transactions",
        "operationId": "filterTransactionHistories",
        "parameters": [
          {
            "name": "networkId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "currencyId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "sortType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseDtoTransactionHistoryResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/deposits": {
      "get": {
        "tags": ["deposit-controller"],
        "summary": "user get all deposits",
        "operationId": "filterDeposits",
        "parameters": [
          {
            "name": "networkId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "currencyId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "sortType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseDtoDepositResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/deposits/{depositId}": {
      "get": {
        "tags": ["deposit-controller"],
        "summary": "user get deposit detail by id",
        "operationId": "getDepositDetailById",
        "parameters": [
          {
            "name": "depositId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoDepositResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/account-history/commitments": {
      "get": {
        "tags": ["account-history-controller"],
        "operationId": "getOrderOpenOfUser",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseDtoCommitmentEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/account-history/commitments/{hash}": {
      "get": {
        "tags": ["account-history-controller"],
        "operationId": "getCommitment",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoCommitmentEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "RequestWithdrawRequestDto": {
        "required": ["amount", "currencyId", "networkId"],
        "type": "object",
        "properties": {
          "networkId": {
            "type": "integer",
            "format": "int32"
          },
          "currencyId": {
            "type": "integer",
            "format": "int32"
          },
          "amount": {
            "pattern": "^\\d*\\.?\\d+$",
            "type": "string"
          }
        }
      },
      "ResponseDtoWithdrawalResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/WithdrawalResponseDto"
          }
        }
      },
      "WithdrawalResponseDto": {
        "type": "object",
        "properties": {
          "withdrawId": {
            "type": "string"
          },
          "networkId": {
            "type": "integer",
            "format": "int32"
          },
          "currencyId": {
            "type": "integer",
            "format": "int32"
          },
          "uid": {
            "type": "integer",
            "format": "int64"
          },
          "receiver": {
            "type": "string"
          },
          "availableBalance": {
            "type": "string"
          },
          "withdrawAmount": {
            "type": "string"
          },
          "commitHash": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "txid": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          },
          "updatedAt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AdjustUserBalanceRequestDto": {
        "required": ["amount", "currencyId", "networkId", "userId"],
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "networkId": {
            "type": "integer",
            "format": "int32"
          },
          "currencyId": {
            "type": "integer",
            "format": "int32"
          },
          "amount": {
            "type": "string"
          }
        }
      },
      "ResponseDtoString": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "AddUserBalanceRequestDto": {
        "required": ["amount", "userId"],
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "amount": {
            "type": "string"
          }
        }
      },
      "MetaDataResponseDtoWithdrawalResponseDto": {
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "hasNext": {
            "type": "boolean"
          },
          "hasPrevious": {
            "type": "boolean"
          }
        }
      },
      "PageResponseDtoWithdrawalResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WithdrawalResponseDto"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/MetaDataResponseDtoWithdrawalResponseDto"
          }
        }
      },
      "ResponseDtoWithdrawalSignatureResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/WithdrawalSignatureResponseDto"
          }
        }
      },
      "WithdrawalSignatureResponseDto": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string"
          },
          "networkId": {
            "type": "integer",
            "format": "int32"
          },
          "currency": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "availableBalance": {
            "type": "string"
          },
          "withdrawAmount": {
            "type": "string"
          },
          "commitHash": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          }
        }
      },
      "ResponseDtoListWalletResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletResponseDto"
            }
          }
        }
      },
      "WalletRecordDto": {
        "type": "object",
        "properties": {
          "currencyId": {
            "type": "integer",
            "format": "int32"
          },
          "networkId": {
            "type": "integer",
            "format": "int32"
          },
          "availableBalance": {
            "type": "string"
          }
        }
      },
      "WalletResponseDto": {
        "type": "object",
        "properties": {
          "currencySymbol": {
            "type": "string"
          },
          "coingeckoId": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "currencyId": {
            "type": "integer",
            "format": "int32"
          },
          "recordInNetworkDtos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletRecordDto"
            }
          },
          "availableBalance": {
            "type": "string"
          }
        }
      },
      "MetaDataResponseDtoTransactionHistoryResponseDto": {
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "hasNext": {
            "type": "boolean"
          },
          "hasPrevious": {
            "type": "boolean"
          }
        }
      },
      "PageResponseDtoTransactionHistoryResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionHistoryResponseDto"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/MetaDataResponseDtoTransactionHistoryResponseDto"
          }
        }
      },
      "TransactionHistoryResponseDto": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "refId": {
            "type": "string"
          },
          "networkId": {
            "type": "integer",
            "format": "int32"
          },
          "currencyId": {
            "type": "integer",
            "format": "int32"
          },
          "uid": {
            "type": "integer",
            "format": "int64"
          },
          "amount": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "txid": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          },
          "updatedAt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "DepositResponseDto": {
        "type": "object",
        "properties": {
          "depositId": {
            "type": "string"
          },
          "networkId": {
            "type": "integer",
            "format": "int32"
          },
          "currencyId": {
            "type": "integer",
            "format": "int32"
          },
          "uid": {
            "type": "integer",
            "format": "int64"
          },
          "amount": {
            "type": "string"
          },
          "txid": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          },
          "updatedAt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "MetaDataResponseDtoDepositResponseDto": {
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "hasNext": {
            "type": "boolean"
          },
          "hasPrevious": {
            "type": "boolean"
          }
        }
      },
      "PageResponseDtoDepositResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DepositResponseDto"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/MetaDataResponseDtoDepositResponseDto"
          }
        }
      },
      "ResponseDtoDepositResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/DepositResponseDto"
          }
        }
      },
      "CommitmentEntity": {
        "type": "object",
        "properties": {
          "hash": {
            "type": "string"
          },
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "networkId": {
            "type": "integer",
            "format": "int32"
          },
          "currencyId": {
            "type": "integer",
            "format": "int32"
          },
          "signature": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "balance": {
            "type": "number"
          },
          "nonce": {
            "type": "integer",
            "format": "int64"
          },
          "tx": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          },
          "updatedAt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "MetaDataResponseDtoCommitmentEntity": {
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "hasNext": {
            "type": "boolean"
          },
          "hasPrevious": {
            "type": "boolean"
          }
        }
      },
      "PageResponseDtoCommitmentEntity": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommitmentEntity"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/MetaDataResponseDtoCommitmentEntity"
          }
        }
      },
      "ResponseDtoCommitmentEntity": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CommitmentEntity"
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer Authentication": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
