{
    "openapi": "3.0.1",
    "servers": [
        {
            "url": "https://api.blocksniper.io/api/v1/accounts"
        }
    ],
    "paths": {
        "/withdrawals": {
            "get": {
                "tags": [
                    "Withdrawal Controller"
                ],
                "summary": "user get all withdrawals",
                "operationId": "filterWithdrawals",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "currencyId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "startTime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "endTime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 20
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "createdAt"
                        }
                    },
                    {
                        "name": "sortType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageResponseDtoWithdrawalResponseDto"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/user/wallet": {
            "get": {
                "tags": [
                    "User Controller"
                ],
                "summary": "get wallet information of user",
                "operationId": "getWalletRecord",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseDtoListWalletResponseDto"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/transactions": {
            "get": {
                "tags": [
                    "Transaction History Controller"
                ],
                "summary": "user get all transactions",
                "operationId": "filterTransactionHistories",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "currencyId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startTime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "endTime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 20
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "createdAt"
                        }
                    },
                    {
                        "name": "sortType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageResponseDtoTransactionHistoryResponseDto"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/deposits": {
            "get": {
                "tags": [
                    "Deposit Controller"
                ],
                "summary": "user get all deposits",
                "operationId": "filterDeposits",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "currencyId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "startTime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "endTime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 20
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "createdAt"
                        }
                    },
                    {
                        "name": "sortType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageResponseDtoDepositResponseDto"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "ReferralDefaultRequestDto": {
                "type": "object",
                "properties": {
                    "referralId": {
                        "type": "integer",
                        "format": "int64"
                    }
                }
            },
            "ReferralResponseDto": {
                "type": "object",
                "properties": {
                    "referralId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "referralCode": {
                        "type": "string"
                    },
                    "userId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "yourReceive": {
                        "type": "number"
                    },
                    "friendReceive": {
                        "type": "number"
                    },
                    "totalFriends": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "createdAt": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "updatedAt": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "markAsDefault": {
                        "type": "boolean"
                    }
                }
            },
            "ResponseDtoReferralResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/ReferralResponseDto"
                    }
                }
            },
            "RequestWithdrawRequestDto": {
                "required": [
                    "amount",
                    "currencyId",
                    "networkId"
                ],
                "type": "object",
                "properties": {
                    "networkId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "currencyId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "amount": {
                        "pattern": "^\\d*\\.?\\d+$",
                        "type": "string"
                    }
                }
            },
            "ResponseDtoWithdrawalResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/WithdrawalResponseDto"
                    }
                }
            },
            "WithdrawalResponseDto": {
                "type": "object",
                "properties": {
                    "withdrawId": {
                        "type": "string"
                    },
                    "networkId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "currencyId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "uid": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "receiver": {
                        "type": "string"
                    },
                    "availableBalance": {
                        "type": "string"
                    },
                    "withdrawAmount": {
                        "type": "string"
                    },
                    "commitHash": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "txid": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "updatedAt": {
                        "type": "integer",
                        "format": "int64"
                    }
                }
            },
            "CreateReferralRequestDto": {
                "type": "object",
                "properties": {
                    "referralCode": {
                        "type": "string"
                    },
                    "yourReceive": {
                        "type": "number"
                    },
                    "friendReceive": {
                        "type": "number"
                    },
                    "markAsDefault": {
                        "type": "boolean"
                    }
                }
            },
            "UserReferralRequestDto": {
                "type": "object",
                "properties": {
                    "referralCode": {
                        "type": "string"
                    }
                }
            },
            "ResponseDtoUserReferralResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/UserReferralResponseDto"
                    }
                }
            },
            "UserReferralResponseDto": {
                "type": "object",
                "properties": {
                    "friendId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "referralId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "createdAt": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "updatedAt": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "startTradeFrom": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "bonusInUsd": {
                        "type": "number"
                    }
                }
            },
            "CommissionValueDto": {
                "type": "object",
                "properties": {
                    "currencyId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "networkId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "amount": {
                        "type": "number"
                    }
                }
            },
            "ResponseDtoListCommissionValueDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommissionValueDto"
                        }
                    }
                }
            },
            "AdjustUserBalanceRequestDto": {
                "required": [
                    "amount",
                    "currencyId",
                    "networkId",
                    "userId"
                ],
                "type": "object",
                "properties": {
                    "userId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "networkId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "currencyId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "amount": {
                        "type": "string"
                    }
                }
            },
            "ResponseDtoString": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "type": "string"
                    }
                }
            },
            "AddUserBalanceRequestDto": {
                "required": [
                    "amount",
                    "userId"
                ],
                "type": "object",
                "properties": {
                    "userId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "amount": {
                        "type": "string"
                    }
                }
            },
            "UpdateReferralRequestDto": {
                "required": [
                    "referralCode"
                ],
                "type": "object",
                "properties": {
                    "referralCode": {
                        "type": "string"
                    },
                    "markAsDefault": {
                        "type": "boolean"
                    }
                }
            },
            "MetaDataResponseDtoWithdrawalResponseDto": {
                "type": "object",
                "properties": {
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalElements": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "hasNext": {
                        "type": "boolean"
                    },
                    "hasPrevious": {
                        "type": "boolean"
                    },
                    "pageNumber": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "PageResponseDtoWithdrawalResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/WithdrawalResponseDto"
                        }
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/MetaDataResponseDtoWithdrawalResponseDto"
                    }
                }
            },
            "ResponseDtoWithdrawalSignatureResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/WithdrawalSignatureResponseDto"
                    }
                }
            },
            "WithdrawalSignatureResponseDto": {
                "type": "object",
                "properties": {
                    "method": {
                        "type": "string"
                    },
                    "networkId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "user": {
                        "type": "string"
                    },
                    "availableBalance": {
                        "type": "string"
                    },
                    "withdrawAmount": {
                        "type": "string"
                    },
                    "commitHash": {
                        "type": "string"
                    },
                    "requestId": {
                        "type": "string"
                    },
                    "signature": {
                        "type": "string"
                    }
                }
            },
            "ResponseDtoListWalletResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/WalletResponseDto"
                        }
                    }
                }
            },
            "WalletRecordDto": {
                "type": "object",
                "properties": {
                    "currencyId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "networkId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "availableBalance": {
                        "type": "string"
                    }
                }
            },
            "WalletResponseDto": {
                "type": "object",
                "properties": {
                    "currencySymbol": {
                        "type": "string"
                    },
                    "coingeckoId": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string"
                    },
                    "currencyId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "recordInNetworkDtos": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/WalletRecordDto"
                        }
                    },
                    "availableBalance": {
                        "type": "string"
                    }
                }
            },
            "MetaDataResponseDtoTransactionHistoryResponseDto": {
                "type": "object",
                "properties": {
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalElements": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "hasNext": {
                        "type": "boolean"
                    },
                    "hasPrevious": {
                        "type": "boolean"
                    },
                    "pageNumber": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "PageResponseDtoTransactionHistoryResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TransactionHistoryResponseDto"
                        }
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/MetaDataResponseDtoTransactionHistoryResponseDto"
                    }
                }
            },
            "TransactionHistoryResponseDto": {
                "type": "object",
                "properties": {
                    "transactionId": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "refId": {
                        "type": "string"
                    },
                    "networkId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "currencyId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "uid": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "amount": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "txid": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "updatedAt": {
                        "type": "integer",
                        "format": "int64"
                    }
                }
            },
            "MetaDataResponseDtoReferralResponseDto": {
                "type": "object",
                "properties": {
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalElements": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "hasNext": {
                        "type": "boolean"
                    },
                    "hasPrevious": {
                        "type": "boolean"
                    },
                    "pageNumber": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "PageResponseDtoReferralResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ReferralResponseDto"
                        }
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/MetaDataResponseDtoReferralResponseDto"
                    }
                }
            },
            "ResponseDtoTopReferralResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/TopReferralResponseDto"
                    }
                }
            },
            "TopReferralResponseDto": {
                "type": "object",
                "properties": {
                    "userAddress": {
                        "type": "string"
                    },
                    "refundUsdValue": {
                        "type": "string"
                    }
                }
            },
            "ResponseDtoSharedCommissionResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/SharedCommissionResponseDto"
                    }
                }
            },
            "SharedCommissionResponseDto": {
                "type": "object",
                "properties": {
                    "referralCode": {
                        "type": "string"
                    },
                    "yourReceive": {
                        "type": "string"
                    },
                    "sharedCommissionUsdValue": {
                        "type": "string"
                    }
                }
            },
            "FriendResponseDto": {
                "type": "object",
                "properties": {
                    "referralCode": {
                        "type": "string"
                    },
                    "commissionRatio": {
                        "type": "string"
                    },
                    "friendId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "friendAddress": {
                        "type": "string"
                    },
                    "bonusInUsd": {
                        "type": "string"
                    }
                }
            },
            "MetaDataResponseDtoFriendResponseDto": {
                "type": "object",
                "properties": {
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalElements": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "hasNext": {
                        "type": "boolean"
                    },
                    "hasPrevious": {
                        "type": "boolean"
                    },
                    "pageNumber": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "PageResponseDtoFriendResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FriendResponseDto"
                        }
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/MetaDataResponseDtoFriendResponseDto"
                    }
                }
            },
            "CommissionRebateResponseDto": {
                "type": "object",
                "properties": {
                    "totalBonus": {
                        "type": "number"
                    },
                    "totalFriendStartedTrade": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "referralEntity": {
                        "$ref": "#/components/schemas/ReferralEntity"
                    }
                }
            },
            "MetaDataResponseDtoCommissionRebateResponseDto": {
                "type": "object",
                "properties": {
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalElements": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "hasNext": {
                        "type": "boolean"
                    },
                    "hasPrevious": {
                        "type": "boolean"
                    },
                    "pageNumber": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "PageResponseDtoCommissionRebateResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommissionRebateResponseDto"
                        }
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/MetaDataResponseDtoCommissionRebateResponseDto"
                    }
                }
            },
            "ReferralEntity": {
                "type": "object",
                "properties": {
                    "referralId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "referralCode": {
                        "type": "string"
                    },
                    "userId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "yourReceive": {
                        "type": "number"
                    },
                    "friendReceive": {
                        "type": "number"
                    },
                    "totalFriends": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "createdAt": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "updatedAt": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "markAsDefault": {
                        "type": "boolean"
                    }
                }
            },
            "ResponseDtoWithdrawTransactionResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/WithdrawTransactionResponseDto"
                    }
                }
            },
            "WithdrawTransactionResponseDto": {
                "type": "object",
                "properties": {
                    "transactionId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "userId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "networkId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "currencyId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "amount": {
                        "type": "number"
                    },
                    "method": {
                        "type": "string"
                    },
                    "messageInput": {
                        "type": "string"
                    },
                    "messageOutput": {
                        "type": "string"
                    },
                    "resultCode": {
                        "type": "string"
                    },
                    "transactionHash": {
                        "type": "string"
                    },
                    "signature": {
                        "type": "string"
                    }
                }
            },
            "AccountAdjustmentResponseDto": {
                "type": "object",
                "properties": {
                    "transactionId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "userId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "networkId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "currencyId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "amount": {
                        "type": "number"
                    },
                    "method": {
                        "type": "string"
                    },
                    "messageInput": {
                        "type": "string"
                    },
                    "messageOutput": {
                        "type": "string"
                    },
                    "resultCode": {
                        "type": "string"
                    }
                }
            },
            "ResponseDtoAccountAdjustmentResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/AccountAdjustmentResponseDto"
                    }
                }
            },
            "DepositTransactionResponseDto": {
                "type": "object",
                "properties": {
                    "transactionId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "userId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "networkId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "currencyId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "amount": {
                        "type": "number"
                    },
                    "method": {
                        "type": "string"
                    },
                    "messageInput": {
                        "type": "string"
                    },
                    "messageOutput": {
                        "type": "string"
                    },
                    "resultCode": {
                        "type": "string"
                    },
                    "transactionHash": {
                        "type": "string"
                    }
                }
            },
            "ResponseDtoDepositTransactionResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/DepositTransactionResponseDto"
                    }
                }
            },
            "FriendCounterResponseDto": {
                "type": "object",
                "properties": {
                    "totalFriend": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "friendStartedTrading": {
                        "type": "integer",
                        "format": "int64"
                    }
                }
            },
            "ResponseDtoFriendCounterResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/FriendCounterResponseDto"
                    }
                }
            },
            "DepositResponseDto": {
                "type": "object",
                "properties": {
                    "depositId": {
                        "type": "string"
                    },
                    "networkId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "currencyId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "uid": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "amount": {
                        "type": "string"
                    },
                    "txid": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "updatedAt": {
                        "type": "integer",
                        "format": "int64"
                    }
                }
            },
            "MetaDataResponseDtoDepositResponseDto": {
                "type": "object",
                "properties": {
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalElements": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "hasNext": {
                        "type": "boolean"
                    },
                    "hasPrevious": {
                        "type": "boolean"
                    },
                    "pageNumber": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "PageResponseDtoDepositResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DepositResponseDto"
                        }
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/MetaDataResponseDtoDepositResponseDto"
                    }
                }
            },
            "ResponseDtoDepositResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/DepositResponseDto"
                    }
                }
            },
            "ResponseDtoTotalYourCommissionResponseDto": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/TotalYourCommissionResponseDto"
                    }
                }
            },
            "TotalYourCommissionResponseDto": {
                "type": "object",
                "properties": {
                    "totalUsdValue": {
                        "type": "number"
                    },
                    "totalUsdValueClaimed": {
                        "type": "number"
                    }
                }
            },
            "CommitmentEntity": {
                "type": "object",
                "properties": {
                    "hash": {
                        "type": "string"
                    },
                    "userId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "networkId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "currencyId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "signature": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "balance": {
                        "type": "number"
                    },
                    "nonce": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "tx": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "updatedAt": {
                        "type": "integer",
                        "format": "int64"
                    }
                }
            },
            "MetaDataResponseDtoCommitmentEntity": {
                "type": "object",
                "properties": {
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalElements": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "hasNext": {
                        "type": "boolean"
                    },
                    "hasPrevious": {
                        "type": "boolean"
                    },
                    "pageNumber": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "PageResponseDtoCommitmentEntity": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommitmentEntity"
                        }
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/MetaDataResponseDtoCommitmentEntity"
                    }
                }
            },
            "ResponseDtoCommitmentEntity": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/CommitmentEntity"
                    }
                }
            }
        },
        "securitySchemes": {
            "Bearer Authentication": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    }
}